agm-map {
    height: 75%;
    width: 99%;
    top: 21%;
    left: -4%;
    text-align: -webkit-right;
    padding-left: 10%;
    position: absolute;
  }
  .pac-container-jur {
    right: 5%;
    width: 15%;
    top: 13%;
    position: absolute;
    z-index: 100000;
  }
  .btn-group {
      width: 100%;
      background-color: rgb(165, 165, 165);
      color: black;
  }
  .selectedButton {
    background-color: rgb(71, 69, 69) !important;
  }