<div class="btn-group" role="group" aria-label="Basic example">
    <button mdbBtn type="button" class="waves-light" mdbWavesEffect>Current Track</button>
    <button mdbBtn type="button" class="waves-light" mdbWavesEffect>Past Tracks</button>
    <button mdbBtn type="button" class="waves-light" mdbWavesEffect>Search</button>
</div>

<!-- <div class="pac-container-jur"> -->
    <div class="pac-container-jur md-form mt-0">
        <input #search id="pac-input" class="form-control mr-sm-2"  type="text" placeholder="Where do you want to go?">
    </div>
<!-- </div> -->
<agm-map #gm [zoom]=13 [latitude]="lat" [longitude]="lng">
    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker *ngFor="let location of locations" [latitude]="location.lat" [longitude]="location.lng">
        <agm-snazzy-info-window [disableAutoPan]="false" [maxWidth]="200" [closeWhenOthersOpen]="true" #infoWindow>
            <ng-template>
                <div>
                    Name: {{location.name}}
                    <br>
                    Rating: {{location.rating}}
                </div>
            </ng-template>
        </agm-snazzy-info-window>
    </agm-marker>
    </agm-marker-cluster>
</agm-map>