<div class="btn-group" role="group" aria-label="Basic example">
    <button mdbBtn type="button" class="waves-light {{showCurrent ? 'selectedButton' : ''}}" mdbWavesEffect
        (click)="onCurrentClick()">CURRENT TRIP</button>
    <button mdbBtn type="button" class="waves-light {{showPast ? 'selectedButton' : ''}}" mdbWavesEffect
        (click)="onPastClick()">PAST TRIP</button>
    <button mdbBtn type="button" class="waves-light {{showJourney ? 'selectedButton' : ''}}" mdbWavesEffect
        (click)="onJourneyClick()">START JOURNEY</button>
</div>

<div [hidden]="!showCurrent">
    <div class="alert alert-info" role="alert">
        You can start your new experience by searching for a city under "START JOURNEY"
    </div>

    <agm-map #gm [zoom]=13 [latitude]="lat" [longitude]="lng">
        <agm-marker-cluster
            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
            <agm-marker *ngFor="let location of locations" [latitude]="location.lat" [longitude]="location.lng">
                <agm-snazzy-info-window [disableAutoPan]="false" [maxWidth]="200" [closeWhenOthersOpen]="true"
                    #infoWindow>
                    <ng-template>
                        <div>
                            <b>Name:</b> {{location.name}}
                            <br>
                            <b>Score:</b> {{location.rating}}
                            <br>
                            <div *ngIf="location.visited; else notVisited">You already visited this place!</div>
                            <ng-template #notVisited>
                                <div>You did not visit this place!</div>
                            </ng-template>
                        </div>
                    </ng-template>
                </agm-snazzy-info-window>
            </agm-marker>
        </agm-marker-cluster>
    </agm-map>

</div>
<div [hidden]="!showPast"> 
    <div class="card-group">
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Japan, Tokyo</h4>
            </mdb-card-title>
      
            <!--Text-->
            <mdb-card-text> Maybe you want some sake.
            </mdb-card-text>
      
            <a href="dashboard" mdbBtn color="primary" mdbWavesEffect>Go there!</a>
          </mdb-card-body>
        </mdb-card>
      
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Bali, Indonesia</h4>
            </mdb-card-title>
      
            <!--Text-->
            <mdb-card-text> How about a quick refresher?
            </mdb-card-text>
      
            <a href="dashboard" mdbBtn color="primary" mdbWavesEffect>Go there!</a>
          </mdb-card-body>
        </mdb-card>
      
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/77.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Skiathos, Greece</h4>
            </mdb-card-title>
      
            <!--Text-->
            <mdb-card-text> Maybe you want to enjoy some greek sun.
            </mdb-card-text>
      
            <a href="dashboard" mdbBtn color="primary" mdbWavesEffect>Go there!</a>
          </mdb-card-body>
        </mdb-card>
      </div>
</div>
<div [hidden]="!showJourney">
    <!-- <div class="pac-container-jur"> -->
    <div class="pac-container-jur md-form mt-0">
        <input #search id="pac-input" class="form-control mr-sm-2" type="text" placeholder="Where do you want to go?">
    </div>
    <!-- </div> -->
    <agm-map #gm [zoom]=13 [latitude]="lat" [longitude]="lng">
        <agm-marker-cluster
            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
            <agm-marker *ngFor="let location of locations" [latitude]="location.lat" [longitude]="location.lng"
                (markerClick)="markerClicked(location)">
                <agm-snazzy-info-window [disableAutoPan]="false" [maxWidth]="200" [closeWhenOthersOpen]="true"
                    #infoWindow>
                    <ng-template>
                        <div>
                            <b>Name:</b> {{location.name}}
                            <br>
                            <b>Score:</b> {{location.rating}}
                            <br>
                            Did you know that this was built in <b>{{random_year}}</b>?
                        </div>
                    </ng-template>
                </agm-snazzy-info-window>
            </agm-marker>
        </agm-marker-cluster>
    </agm-map>
    <!-- <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAC5jNrcEmMrHo4h9GKBbk0novGz97WBqE&"></script> -->