<mdb-navbar class="navbar-header" SideClass="navbar navbar-expand-lg navbar-dark special-color-dark ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo" href="#"><img class="brandImg" src="../../../assets/brand.svg"></a>
    </mdb-navbar-brand>
    <links>
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <div *ngIf="authService.isLoggedIn()">
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect href="/leaderboard">
                        <mdb-icon fas icon="crown"></mdb-icon> Leaderboard<span class="sr-only">(current)</span>
                    </a>
                </li>
            </div>
            
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="/contact">
                    <mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span>
                </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    <mdb-icon fas icon="user"></mdb-icon> Account<span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    

                    <div *ngIf="authService.isLoggedIn(); else elseBlock">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="my-account">My account</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="dashboard">Go somewhere</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="dashboard">Settings</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="logout">Sign out</a>
                    </div>
                    <ng-template #elseBlock><a class="dropdown-item waves-light" mdbWavesEffect href="login">Sign in</a></ng-template>
                    

                </div>
            </li>

        </ul>
    </links>
</mdb-navbar>