
<div class="main-container bg-img">

    <!-- <div *ngIf="testJson != null;else noDataFrombackend">We got something from backend: {{this.testJson.result}}</div>
    <ng-template #noDataFrombackend><div>No data from backend :(</div></ng-template> -->


    <!-- <div *ngIf="testJson; else elseBlock">We got something from backend: {{this.testJson.result}}</div> -->
    <!-- <ng-template #elseBlock><div>No data from backend :(</div></ng-template> -->

    <!-- <div *ngIf="email != null">Welcome, {{this.email}}!</div> -->
    <a href="/register"><button class="registerButton" type="button" mdbBtn color="light" mdbWavesEffect>REGISTER NOW</button></a>
</div>

<div class="homeMap">
    <div *ngIf="authService.isLoggedIn(); else elseBlock">
        <a href="/dashboard"><button class="exploreButton" type="button" mdbBtn color="light" mdbWavesEffect>EXPLORE NOW</button></a>
    </div>
    <ng-template #elseBlock>
        <a href="/login"><button class="exploreButton" type="button" mdbBtn color="light" mdbWavesEffect>EXPLORE NOW</button></a>
    </ng-template>
</div>