.myAccountTitle {
    font-size: xx-large;
    position: fixed;
    left: 5%;
    top: 10%;
}

.myPointsTitle {
    padding-top: 7%;
    font-size: xx-large;
    text-align: center;
    margin-bottom: -7%;
}

.myAchivementsTitle {
    margin-top: -20%;
    font-size: xx-large;
    margin-bottom: 3%;
    text-align: center;
}

table {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    padding-top: 37rem;
}

.tableParent {
    padding-bottom: 30rem;
}

.specialRow {
    font-weight: bold;
    transform: translate(0%, 30%);
}

.cardClass {
    margin: auto;
    left: 50%;
    margin-bottom: 5%
    
}